<!DOCTYPE html>
<html>
  <head>
    <title>SiteInspector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'ui', media: 'all' %>
    <%= javascript_pack_tag 'ui' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
